<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Orders</title>
</head>
<body>
    <div class="container">
        <h1>Change Order</h1> <a href="/cookies">Back to purchases</a>
                {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            <form action="/cookies/{{ one_order.id }}/update" method="post">
                <input type="hidden" name="id" value="{{ one_order.id }}">
                <label for="cust_name">Name: </label>
                <input type="text" name="cust_name" id="cust_name_id" value="{{ one_order.cust_name }}">
                <label for="cookie_type">Cookie Type: </label>
                <input type="text" name="cookie_type" id="cookie_type_id" value="{{ one_order.cookie_type }}">
                <label for="number_of_boxes"> Number of Boxes: </label>
                <input type="text" name="number_of_boxes" id="number_of_boxes_id" value="{{ one_order.number_of_boxes }}">
                <button type="submit">Log</button>
            </form>
        </div>
    </div>
</body>
</html>